/*Base*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background: #4a4646;
  background: linear-gradient(270deg, #4a4646 0%, #2b2358 43%, black 100%);
  max-width: 100vh;
  align-items: center; }

main {
  justify-content: center;
  margin-left: 30px; }

h2 {
  font-family: "montserrat",sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #fff; }

.figure-grid {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  place-items: center; }

.figure-grid img {
  max-width: 40%; }

.div-figure-grid {
  width: 100vw; }

.div-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 10%; }

.section-desktop {
  display: grid;
  grid-template-areas: 'header header header' 'samsung dell hp';
  align-content: space-between;
  width: 100vw; }

p {
  font-family: "montserrat",sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  padding: 25px; }

.section-desktop-grid1 {
  grid-area: header;
  text-align: center; }

.section-desktop-grid2 {
  grid-area: samsung; }

.section-desktop-grid3 {
  grid-area: dell; }

.section-desktop-grid4 {
  grid-area: hp; }

@media (max-width: 500px) {
  body {
    max-width: 80%; }
  .section-desktop {
    display: block;
    align-items: left;
    max-width: 80vw; }
  nav {
    display: inline-block;
    justify-content: left;
    align-items: left;
    padding: 10px 10%;
    width: 50vw; }
  footer {
    box-sizing: border-box;
    display: flex;
    align-items: left;
    padding: 10%;
    width: 50vw; }
  footer li a {
    font-size: 10px; }
  .logo {
    max-width: 20vw; }
  h2 {
    font-size: 20px;
    color: #fff; }
  .figure-grid {
    display: block;
    align-content: center;
    place-items: center; }
  .div-title {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100vw;
    padding-top: 10%; } }

.galeria h1 {
  font-family: "montserrat",sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #fff;
  text-align: center; }

.linea {
  border-top: 5px solid #0077C0;
  margin-bottom: 40px; }

.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px; }

.contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); }

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 118, 192, 0.781);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s ease; }

.overlay h2 {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.imagen:hover .overlay {
  height: 100%;
  cursor: pointer; }

@media screen and (max-width: 1000px) {
  .contenedor-imagenes {
    width: 95%; } }

@media screen and (max-width: 700px) {
  .contenedor-imagenes {
    width: 90%; }
  .contenedor-imagenes .imagen {
    width: 48%; } }

@media screen and (max-width: 450px) {
  h1 {
    font-size: 22px; }
  .contenedor-imagenes {
    width: 98%; }
  .contenedor-imagenes .imagen {
    width: 80%; } }

/* Header*/
nav {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  width: 100vw; }

.logo {
  cursor: pointer;
  margin-right: 30px; }

.nav__links {
  list-style: none; }

.nav__links li {
  display: inline-block;
  padding: 0px 20px; }

.nav__links li a {
  transition: all 0.3s ease 0s; }

.nav__links li a:hover {
  color: #948383; }

li, a {
  font-family: "montserrat",sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none; }

@media (max-width: 768px) {
  .nav__links {
    display: none; }
  .logo {
    display: none; } }

@media (min-width: 768px) {
  .bg-light {
    visibility: hidden; } }

footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 10%;
  margin-left: 30px;
  width: 100vw; }

.footer__links {
  list-style: none; }

.footer__links li {
  display: inline-block;
  padding: 0 20px; }
